<nav class="navbar">
    <ul class="bar">
        <li id="grid01">
            <a href="/#ms01" class="title"> Snake Shop </a>
        </li>
        <li id="grid02">
            <div>
                <ul class="navbar-elements">
                    <li><a href="/#catalogo">Catálogo</a></li>
                    <li><a href="/perfil">Perfil</a></li>
                </ul>
            </div>
        </li>
        <li id="grid03">
            <a href="/carrinho" class="shoppingcart">
                Carrinho
                <img
                    src="/assets/shoppingcart.png"
                    draggable="false"
                    width="24px"
                    height="24px"
                />
            </a>
        </li>
    </ul>
</nav>
